@model IEnumerable<treeTaggerMVC3.Models.treeObservations>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
 this.rowFeedback = function(whichrow) {
    this.sendPos(whichrow);
    return this;
}

function sendPos(whichrow) {

    createCookie("mylat", whichrow.childNodes[3].innerHTML);
    createCookie("mylong", whichrow.childNodes[5].innerHTML);
    //document.cookie = "mylat = " + whichrow.childNodes[3].innerHTML + "; path=/";
    //document.cookie = "mylong = " + whichrow.childNodes[5].innerHTML + "; path=/";
    GetMap(18, whichrow.childNodes[3].innerHTML, whichrow.childNodes[5].innerHTML);
   
}
</script>

<h2>Index</h2>
<div id='mapDiv' class="map"></div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            species
        </th>
        <th>
            lat
        </th>
        <th>
            longitude
        </th>
        <th>
            radius
        </th>
        <th>
            date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr onclick= "rowFeedback(this);">
        <td>
            @Html.DisplayFor(modelItem => item.species)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.radius)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
